<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="abs" value="audio/x-mpeg"/>
    <add key="ai" value="application/postscript"/>
    <add key="aif" value="audio/x-aiff"/>
    <add key="aifc" value="audio/x-aiff"/>
    <add key="aiff" value="audio/x-aiff"/>
    <add key="aim" value="application/x-aim"/>
    <add key="art" value="image/x-jg"/>
    <add key="asf" value="video/x-ms-asf"/>
    <add key="asx" value="video/x-ms-asf "/>
    <add key="au" value="audio/basic"/>
    <add key="avi" value="video/x-msvideo"/>
    <add key="avx" value="video/x-rad-screenplay"/>
    <add key="bcpio" value="application/x-bcpio"/>
    <add key="bin" value="application/octet-stream"/>
    <add key="bmp" value="image/bmp"/>
    <add key="body" value="text/html"/>
    <add key="cdf" value="application/x-cdf"/>
    <add key="cer" value="application/x-x509-ca-cert"/>
    <add key="class" value="application/java"/>
    <add key="cpio" value="application/x-cpio"/>
    <add key="csh" value="application/x-csh"/>
    <add key="css" value="text/css"/>
    <add key="dib" value="image/bmp"/>
    <add key="doc" value="application/msword"/>
    <add key="dtd" value="text/plain"/>
    <add key="dv" value="video/x-dv"/>
    <add key="dvi" value="application/x-dvi"/>
    <add key="eps" value="application/postscript"/>
    <add key="etx" value="text/x-setext"/>
    <add key="exe" value="application/octet-stream"/>
    <add key="gif" value="image/gif"/>
    <add key="gtar" value="application/x-gtar"/>
    <add key="gz" value="application/x-gzip"/>
    <add key="hdf" value="application/x-hdf"/>
    <add key="htc" value="text/x-component"/>
    <add key="htm" value="text/html"/>
    <add key="html" value="text/html"/>
    <add key="hqx" value="application/mac-binhex40"/>
    <add key="ico" value="image/ico"/>
    <add key="ief" value="image/ief"/>
    <add key="jad" value="text/vnd.sun.j2me.app-descriptor"/>
    <add key="jar" value="application/java-archive"/>
    <add key="java" value="text/plain"/>
    <add key="jnlp" value="application/x-java-jnlp-file"/>
    <add key="jpe" value="image/jpeg"/>
    <add key="jpeg" value="image/jpeg"/>
    <add key="jpg" value="image/jpeg"/>
    <add key="js" value="text/javascript"/>
    <add key="jsf" value="text/plain"/>
    <add key="jspf" value="text/plain"/>
    <add key="kar" value="audio/midi"/>
    <add key="latex" value="application/x-latex"/>
    <add key="m3u" value="audio/x-mpegurl"/>
    <add key="mac" value="image/x-macpaint"/>
    <add key="man" value="application/x-troff-man"/>
    <add key="me" value="application/x-troff-me"/>
    <add key="mid" value="audio/midi"/>
    <add key="midi" value="audio/midi"/>
    <add key="mif" value="application/x-mif"/>
    <add key="mms" value="application/vnd.wap.mms-message"/>
    <add key="mov" value="video/quicktime"/>
    <add key="movie" value="video/x-sgi-movie"/>
    <add key="mp1" value="audio/x-mpeg"/>
    <add key="mp2" value="audio/x-mpeg"/>
    <add key="mp3" value="audio/x-mpeg"/>
    <add key="mpa" value="audio/x-mpeg"/>
    <add key="mpe" value="video/mpeg"/>
    <add key="mpeg" value="video/mpeg"/>
    <add key="mpega" value="audio/x-mpeg"/>
    <add key="mpg" value="video/mpeg"/>
    <add key="mpv2" value="video/mpeg2"/>
    <add key="ms" value="application/x-wais-source"/>
    <add key="nc" value="application/x-netcdf"/>
    <add key="oda" value="application/oda"/>
    <add key="par" value="application/x-jvending-par-archive"/>
    <add key="pbm" value="image/x-portable-bitmap"/>
    <add key="pct" value="image/pict"/>
    <add key="pdf" value="application/pdf"/>
    <add key="pgm" value="image/x-portable-graymap"/>
    <add key="pic" value="image/pict"/>
    <add key="pict" value="image/pict"/>
    <add key="pls" value="audio/x-scpls"/>
    <add key="png" value="image/png"/>
    <add key="pnm" value="image/x-portable-anymap"/>
    <add key="pnt" value="image/x-macpaint"/>
    <add key="ppm" value="image/x-portable-pixmap"/>
    <add key="ppt" value="application/powerpoint"/>
    <add key="ps" value="application/postscript"/>
    <add key="psd" value="image/x-photoshop"/>
    <add key="qt" value="video/quicktime"/>
    <add key="qti" value="image/x-quicktime"/>
    <add key="qtif" value="image/x-quicktime"/>
    <add key="ra" value="application/x-pn-realaudio"/>
    <add key="ram" value="application/x-pn-realaudio"/>
    <add key="ras" value="image/x-cmu-raster"/>
    <add key="rgb" value="image/x-rgb"/>
    <add key="rm" value="application/vnd.rn-realmedia"/>
    <add key="roff" value="application/x-troff"/>
    <add key="rtf" value="application/rtf"/>
    <add key="rtx" value="text/richtext"/>
    <add key="sh" value="application/x-sh"/>
    <add key="shar" value="application/x-shar"/>
    <add key="smf" value="audio/x-midi"/>
    <add key="sit" value="application/x-stuffit"/>
    <add key="snd" value="audio/basic"/>
    <add key="src" value="application/x-wais-source"/>
    <add key="sv4cpio" value="application/x-sv4cpio"/>
    <add key="sv4crc" value="application/x-sv4crc"/>
    <add key="swf" value="application/x-shockwave-flash"/>
    <add key="t" value="application/x-troff"/>
    <add key="tar" value="application/x-tar"/>
    <add key="tcl" value="application/x-tcl"/>
    <add key="tex" value="application/x-tex"/>
    <add key="texi" value="application/x-texinfo"/>
    <add key="texinfo" value="application/x-texinfo"/>
    <add key="tif" value="image/tiff"/>
    <add key="tiff" value="image/tiff"/>
    <add key="torrent" value="application/x-bittorrent"/>
    <add key="tr" value="application/x-troff"/>
    <add key="tsv" value="text/tab-separated-values"/>
    <add key="txt" value="text/plain"/>
    <add key="ulw" value="audio/basic"/>
    <add key="ustar" value="application/x-ustar"/>
    <add key="wma" value="audio/x-ms-wma"/>
    <add key="xbm" value="image/x-xbitmap"/>
    <add key="xht" value="application/xhtml"/>
    <add key="xhtml" value="application/xhtml"/>
    <add key="xml" value="text/xml"/>
    <add key="xpm" value="image/x-xpixmap"/>
    <add key="x-properties" value="text/plain"/>
    <add key="xsl" value="text/xml"/>
    <add key="xwd" value="image/x-xwindowdump"/>
    <add key="wav" value="audio/x-wav"/>
    <add key="svg" value="image/svg"/>
    <add key="svgz" value="image/svg"/>
    <add key="vsd" value="application/x-visio"/>
    <add key="wbmp" value="image/vnd.wap.wbmp"/>
    <add key="wml" value="text/vnd.wap.wml"/>
    <add key="wmlc" value="application/vnd.wap.wmlc"/>
    <add key="wmls" value="text/vnd.wap.wmlscript"/>
    <add key="wmlscriptc" value="application/vnd.wap.wmlscriptc"/>
    <add key="wrl" value="x-world/x-vrml"/>
    <add key="Z" value="application/x-compress"/>
    <add key="z" value="application/x-compress"/>
    <add key="zip" value="application/zip"/>
  </appSettings>
</configuration>
