<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <!--
      Please reconfigure your connection strings in web.package.config!
      
      <add name="MyDB" 
        connectionString="PLEASE SPECIFY" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        -->
  </connectionStrings>
  <system.web>
    <customErrors xdt:Transform="Replace"
      defaultRedirect="GenericError.htm"
      mode="RemoteOnly">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>
</configuration>