<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
    <Product Id="03d5af5f-94db-4bd7-829c-7c24ac85e25d" Name="WixMSI" Language="1033" Version="1.0.0.0" Manufacturer="WixMSI" UpgradeCode="920b0288-6713-4ee3-858d-45c5c1dcb2bd">
    <?define source2.dir="VBWebAppExample\target\VBWebAppExample"?>
        <Package InstallerVersion="200" Compressed="yes" />

        
    
<Directory Id="TARGETDIR" Name="SourceDir">
  <Directory Id="ProgramFilesFolder" Name="PFiles">
    <Directory Id="test" Name="test">
      <Component Id="test" Guid="B9E39626-B6F1-4942-B13D-30487E89E036"
        SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
        Win64="no" Location="either">
        <CreateFolder/>
      </Component>
    </Directory>
  </Directory>
</Directory>


	<Feature Id="test" Title="testfolder" Level="1">
	  <ComponentRef Id="test"/>
	</Feature>

    </Product>
</Wix>
