<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibraryWithWebReference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClassLibraryWithWebReference.Properties.Settings>
            <setting name="ClassLibraryWithWebReference_webService_DiomedeStorageLegacyTransfer"
                serializeAs="String">
                <value>http://service.diomedestorage.com/diomedestoragelegacytransfer.asmx</value>
            </setting>
        </ClassLibraryWithWebReference.Properties.Settings>
    </applicationSettings>
</configuration>